@model Events

<div class="container mt-4">
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<div class="card">
				<div class="card-header bg-primary text-bg-danger-white">
					<h2>Create Event</h2>
				</div>
				<div class=" card-body">
					<form asp-action="Create" method="post">

						<div asp-validation-summary="All" class="alert alert-danger">
						</div>
						<div class="form-group mb-3">
							<label asp-for="EventName" class="form-label">Event Name</label>
							<input asp-for="EventName" class="form-control" placeholder="Enter a Event Name" />
							<span asp-validation-for="EventName" class="text-danger"></span>
						</div>
						<div class="form-group mb-3">
							<label asp-for="EventDate" class="form-label">Event Date</label>
							<input asp-for="EventDate" class="form-control" type="date" />
							<span asp-validation-for="EventDate" class="text-danger"></span>
						</div>
						<div class="form-group mb-3">
							<label asp-for="Description" class="form-label">Description</label>
							<input asp-for="Description" row="4" class="form-control" placeholder="Enter Description" />
							<span asp-validation-for="Description" class="text-danger"></span>
						</div>
						<div class="form-group mb-3">
							<label asp-for="VenueID" class="form-label">VenueID</label>
							<select asp-for="VenueID" class="form-control" asp-items="ViewBag.VenueList">
								<option value="">-- Select Venue --</option>

							</select>
							<span asp-validation-for="VenueID" class="text-danger"></span>
						</div>
						<div class="d-flex justify-content-between">
							<button type="submit" class="btn btn-primary">Create</button>
							<a asp-controller="Event" asp-action="Index" class="btn btn-secondary mt-3">
								← Back to Events
							</a>

						</div>

					</form>
				</div>

			</div>
		</div>
	</div>
</div>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}